

html {
	font-size: 100%;

	// https://demun.tistory.com/2402
	// -webkit-text-size-adjust: 65%;
	-webkit-text-size-adjust: none; 
	-moz-text-size-adjust: none; 
	-ms-text-size-adjust: none;

	// font smoothing
	//-webkit-font-smooth: 2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	top:0px; left: 0px; width: 100%; height: 100%;
	overflow:hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	color: white;
}

div, p {
	display:block;
}

a {
	background-color: transparent;
	text-decoration: none;
}

img {
	border: none;
}

ul, li {
	list-style: none; 
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

select {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

input {
	background-color: transparent;
	border: none;
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea:focus, input:focus{
    outline: none;
}


.g-btn {
	@include FLEX(center,center);
	border: none;
	cursor: pointer;
	background-image: linear-gradient(235deg, rgb(53,4,355), rgb(159,82,255));
}
.metamask-btn{
	@include FLEX(left,center);
	cursor: pointer;
	border: 2px solid #F6851B;
	background: #F6851B1A;
	color: #F6851B;
}
.walletconnect-btn{
	@include FLEX(left,center);
	cursor: pointer;
	border: 2px solid #3B99FC;
	background: #3B99FC1A;
	color: #3B99FC;
}
.coinbase-btn{
	@include FLEX(left,center);
	cursor: pointer;
	border: 2px solid #0052FF;
	background: #0052FF1A;
	color: #0052FF;
}
.fortmatic-btn{
	@include FLEX(left,center);
	cursor: pointer;
	border: 2px solid #6851FF;
	background: #6851FF1A;
	color: #6851FF;
}
.bitski-btn{
	@include FLEX(left,center);
	cursor: pointer;
	border: 2px solid #f951ff;
	background: #ff51e81a;
	color: #f951ff;
}
.text {
	// font-family: App-Regular, "Noto Sans KR", sans-serif;
	display: inline-flex;
	font-family: "Open sans", sans-serif;
	color: #b3b3b3;
	font-weight: 300; 

	font-family: "Open sans", sans-serif;
	// font-size: 12px;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	padding: 0;
}


.-shadow {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}
.badge {
	display: inline-flex;
	height: 26px;
	width: auto;
	padding: 0 7px;
	margin: 0 5px;
	background: transparent;
	border-radius: 13px;
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
}

.badge.-fill-gradient {
	background: linear-gradient(to right, #16c0b0, #84cf6a);
	color: #fff;
}

[hidden] {
	display: none;
}

.remove-highlight {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:focus {
		outline: none !important;
	}
}